@page "/Quiz/{id:int}"
@model QuizModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelper

<div class="quiz-container">
    <div class="quiz-title">
        <h1 id="title-g">@Model.Quiz.Title</h1>
    </div>
    <div class="quiz-questions" id="questions">
        <div class="quiz-question">
            <div class="quiz-question-main-content">
                <div class="quiz-question-title">
                    <p class="quiz-question-title-question-number question-title-font-size">Question 1:</p>
                    <p  class="quiz-question-title-g question-title-font-size">Question title</p>
                </div>
                <div class="quiz-question-answers">
                    <div class="quiz-question-answer-correctness">
                        <p>Your choice</p>
                    </div>
                    <div class="quiz-question-answer-g">
                        <input class="question-answer" type="checkbox" name="is_right_1_1">
                        <p class="quiz-question-answer-letter">A)</p>
                        <p class="quiz-question-answer-text-g">Some answer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>